.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__user{
  margin-left: 10px;
  font-size: 25px;
}

@media only screen and (min-width: 400px) {
  .checkout{
    display: flex;
    flex-direction: column;
    }
}


.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  font-size: 20px;
  color: gray;
  border-bottom: 1px solid lightgray;
}